{% extends 'base.html' %}
 
{% block content %}
<form action = "/add" method = "post"> 
    <!-- <div class="mb-3">
        <label>Name</label>
        <input type = "text" name = "provider_name" placeholder = "customer_name" class="form-control" />
    </div>  -->
    <!-- <div class="mb-3">
        <label>Id Headquarter</label>
        <input type = "text" name = "id_headquarter" placeholder = "id_headquarter" class="form-control" />
    </div>  -->
    <div class="mb-3">
        <label>Address</label>
        <input type = "text" name = "address" placeholder = "address" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Budget</label>
        <input type = "text" name = "budget" placeholder = "budget" class="form-control" />
    </div> 

    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>  
 </form> 
  
{% endblock content %}