{% extends 'base.html' %}
 
{% block content %}
    <form action="/update/{{customer[0]}}" method="post">
        <!-- <div class="mb-3">
            <label>Id Headquarter</label>
            <input type = "text" name = "id_headquarter" placeholder = "id_headquarter" class="form-control" value="{{customer[2]}}"/>
        </div>  -->
        <div class="mb-3">
            <label>Address</label>
            <input type = "text" name = "address" placeholder = "address" class="form-control" value="{{customer[2]}}"/>
        </div> 
        <div class="mb-3">
            <label>Budget</label>
            <input type = "text" name = "budget" placeholder = "budget" class="form-control" value="{{customer[3]}}"/>
        </div> 
        <input type = "submit" value = "Update" class="btn btn-primary mb-3"/>  
     </form> 
{% endblock content %}