{% extends 'base.html' %}
 
{% block content %}
<form action = "/add" method = "post"> 
    <div class="mb-3">
        <label>Name</label>
        <input type = "text" name = "product_name" placeholder = "product_name" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Id Provider</label>
        <input type = "text" name = "id_provider" placeholder = "id_provider" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Quantity</label>
        <input type = "text" name = "quantity" placeholder = "quantity" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Price</label>
        <input type = "text" name = "price" placeholder = "price" class="form-control" />
    </div> 
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>  
 </form> 
  
{% endblock content %}