{% extends 'base.html' %}
 
{% block content %}
    <form action="/update/{{product[0]}}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input type = "text" name = "product_name" placeholder = "product_name" class="form-control" value="{{product[1]}}"/>
        </div> 
        <div class="mb-3">
            <label>Id Headquarter</label>
            <input type = "text" name = "id_provider" placeholder = "id_provider" class="form-control" value="{{product[2]}}"/>
        </div> 
        <div class="mb-3">
            <label>Phone Number</label>
            <input type = "text" name = "quantity" placeholder = "quantity" class="form-control" value="{{product[3]}}"/>
        </div> 
        <div class="mb-3">
            <label>Address</label>
            <input type = "text" name = "price" placeholder = "price" class="form-control" value="{{product[4]}}"/>
        </div> 
     
        <input type = "submit" value = "Update" class="btn btn-primary mb-3"/>  
     </form> 
{% endblock content %}